﻿body, html {
    font-family: 'Kanit', 'Tahoma', 'Geneva', 'sans-serif' !important;
    height: 100%;
}

/* remove outer padding */
.main .row {
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
    font-size: 0.9em;
    font-weight: 200;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main {
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main {
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main {
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }



    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        /*z-index: 8000;*/
        margin-bottom: 0px;
    }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover {
            margin-left: 0px;
        }
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 992px) {

    /*Allow main to be next to Nav*/
    .main {
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main {
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}

/* Pagination Custom */
.pageCustom {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pageCustom table > tbody > tr > td {
        display: inline;
        padding: 0;
        margin: 0;
    }

        .pageCustom table > tbody > tr > td > a,
        .pageCustom table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #337ab7;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pageCustom table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #fff;
            background-color: #337ab7;
            border-color: #dddddd;
            cursor: default;
        }

        .pageCustom table > tbody > tr > td:first-child > a,
        .pageCustom table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pageCustom table > tbody > tr > td:last-child > a,
        .pageCustom table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pageCustom table > tbody > tr > td > a:hover,
        .pageCustom table > tbody > tr > td > span:hover,
        .pageCustom table > tbody > tr > td > a:focus,
        .pageCustom table > tbody > tr > td > span:focus {
            color: #337ab7;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.btn_ {
    border-radius: 14%
}

.pageCustom_chr table > tbody > tr > td {
    display: inline;
    padding: 0;
    margin: 0;
}

.pageCustom_chr table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.pageCustom_chr table > thead > tr > td, .table > tbody > tr > td,
.pageCustom_chr table > tfoot > tr > td {
    line-height: 1.42857143;
    vertical-align: top;
    margin-left: 0px;
}

.pageCustom_chr table > tbody > tr > td > div {
    position: relative;
    float: left;
    padding: 0px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: 0px;
    padding: 0;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.textleft-red {
    text-align: left !important;
    color: #FF0000;
}

.textleft {
    text-align: left !important;
}

/* for example */
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .bs-docs-example::after {
        content: "Example";
        position: absolute;
        top: -1px;
        left: -1px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        background-color: whiteSmoke;
        border: 1px solid #DDD;
        color: #9DA0A4;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }
/* for example */

/* for login */
.vertical-offset-100 {
    padding-top: 100px;
}

.vertical-offset-50 {
    padding-top: 50px;
}
/* for login */

/* for modal popup */
.modalPopup {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #EFEFEF;
    filter: alpha(opacity=40);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.centerPopup {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 50px;
    background-color: #EFEFEF;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
/* for modal popup */


/* Sidebar Menu Styles */

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.cursor-pointer {
    cursor: pointer;
}

.multiline-no-resize {
    resize: none;
}

.p-l-0 {
    padding-left: 0px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-l-10 {
    padding-left: 10px;
}

.input-group-with-dropdown {
    position: relative;
    border-collapse: separate;
}

    .input-group-with-dropdown[class*="col-"] {
        float: none;
        padding-right: 0;
        padding-left: 0;
    }

    .input-group-with-dropdown .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
    }

        .input-group-with-dropdown .form-control:focus {
            z-index: 3;
        }

.chk-f-s-16 > input[type="checkbox"] {
    width: 16px; /*Desired width*/
    height: 16px; /*Desired height*/
}

.display-inline {
    display: inline-block;
}

.no-border-right {
    border-right: none;
}

.no-border-left {
    border-left: none;
}

.h01 {
    font-size: 16px;
    color: #1e90ff;
}

.rbl_padding label {
    margin-right: 15px;
}

.btn_menulist {
    color: #515050;
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    float: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand {
    display: block;
}

.btn_menulist:hover {
    color: #000;
    text-decoration: none;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width:768px) {
    .btn_menulist {
        float: left;
    }

    .sub-navbar.navbar-brand {
        display: none;
    }

    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.font_text {
    font-size: 11.5pt; /*medium;*/
}

.text_right {
    text-align: right;
}
/*  แก้ปุ่ม Logout 26/12/57  */
@media (min-width: 992px) {
    .navbar-right {
        margin-right: 0px;
    }
}

table.mylist input {
    width: 20px;
    display: block;
    float: left;
}

table.mylist label {
    width: 200px;
    display: block;
    float: left;
}

/*.GridHeader {
    height: 40px;
    color: white;
    /*font-weight: bold;
            font-size: 11px;
            background-color: Green;
}*/

.radio-horizontal {
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 20px
}

    .radio-horizontal tbody tr td {
        padding-right: 25px;
    }

.form-hover:hover {
    background-color: #eee;
}

.backchange-request {
    background-color: #D7BDE2;
}

/* login page */
.bg-login {
    background: url('./../masterpage/images/bg_login.png') scroll 0px 100%;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 450px;
}

@media (max-width: 767px) {
    .bg-login {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 300px;
    }
}

.bg-control {
    background: #dbe3f1;
}
/* login page */

/* flex box */
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

    .row.display-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
/* flex box */

/* remove outer padding */
.clearpm {
    padding: 0px;
    margin: 0px;
}
/* remove outer padding */

/* Hides CheckBox Labels in ASP.NET */
.hiddenText input[type="checkbox"] + label {
    display: none;
}
/* Hides CheckBox Labels in ASP.NET */

/* visitor login page */
.bg-login-visitor {
    background: url('./../masterpage/images/bg_visitor.png') scroll 0px 100%;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 450px;
}

@media (max-width: 767px) {
    .bg-login-visitor {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 300px;
    }
}
/* visitor login page */

/* hr slip 2nd auth login page */
.bg-hr-slip-2nd-auth {
    background: url('./../masterpage/images/hr/bg_hr_slip_2nd_auth.png') scroll 0px 100%;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 450px;
}

@media (max-width: 767px) {
    .bg-hr-slip-2nd-auth {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 300px;
    }
}

/* .bg-hr-slip-2nd-auth-control {
    background: #dbe3f1;
} */
/* hr slip 2nd auth login page */

.navbar-nav {
    margin:unset;
}