body,html {
	height: 100%;
	background-color: #d0d0d0; 
}

/* remove outer padding */
.main .row {
	padding: 0px;
	margin: 0px;
}

.custom-row {
	padding: 0px;
	/*margin-top: 20px;
	margin-bottom: 20px;*/
}

.top-content {
	height: 40px;
}

/*top menu*/
.top-menu {
	background-color: #919191;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 0px;
}

.top-menu > li > a:hover, .top-menu > li > a:focus {
    color: #333;
    background-color: #656565;
    border-radius: 4px;
}

.top-menu .active a:hover {
    color: #333;
    background-color: #656565;
    border-radius: 0px;
}
/*top menu*/

/*content menu*/
.content-menu {
	margin-top: 20px;
	margin-bottom: 20px;
}

.gray {
	background-color: #919191;
}

.gray a {
	color: #333;
	border-radius: 0px;
}

.gray > li > a:hover, .gray > li > a:focus {
    color: #333;
    background-color: #656565;
    border-radius: 4px;
}

.gray .active a:hover {
    color: #333;
    background-color: #656565;
    border-radius: 0px;
}
/*content menu*/

/*content box*/
.content-box {
	color: #333;
    background-color: #919191;
	margin-bottom: 20px;
	min-height: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
}
/*content box*/

/*footer*/
.footer {
	color: #333;
    background-color: #919191;
	height: 200px;
}
/*footer*/