﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masterpage/masterpage.master" AutoEventWireup="true" CodeFile="stackedcolumn.aspx.cs" Inherits="websystem_ITServices_stackedcolumn" %>

<%@ Register Assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Namespace="System.Web.UI.DataVisualization.Charting" TagPrefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentMain" Runat="Server">

   <asp:Label ID="fsg" runat="server"></asp:Label>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script> <%--   <div>            </div>        <div style="padding-left: 250px"><b>Demo by dotnetfox</b></div>--%>
    <div id="chart_div">
    <asp:Literal ID="lt" runat="server" ></asp:Literal>
        </div>
    <asp:GridView runat="server" ID="GvMaster"></asp:GridView>
</asp:Content>

