﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masterpage/masterpage.master" AutoEventWireup="true" CodeFile="mainpage.aspx.cs" Inherits="websystem_mainpage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentHead" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentMain" Runat="Server">
    <div class="col-md-12">
        <img src='<%= ResolveUrl("~/images/room-booking/room-booking.jpg") %>' class="img-fluid" width="100%" alt="Room Booking" />
    </div>
</asp:Content>