﻿.status-online {
   color: #2ECC71;
   font-size: 1em;
}

.status-offline {
   color: #CF000F;
   font-size: 1em;
}

.word-wrap {
   word-wrap: break-word;
}

.text-read {
   color: #0d4bba;
   text-decoration: none;
}

   .text-read:hover {
      color: #053a62;
      text-decoration: none;
   }

.text-trash {
   color: #F64747;
   text-decoration: none;
}

   .text-trash:hover {
      color: #CF000F;
      text-decoration: none;
   }

.text-edit {
   color: #F89406;
   text-decoration: none;
}

   .text-edit:hover {
      color: #D35400;
      text-decoration: none;
   }

.f-s-16 {
   font-size: 16px;
}

.f-s-15 {
   font-size: 15px;
}

.f-s-14 {
   font-size: 14px;
}

.f-s-13 {
   font-size: 13px;
}

.f-s-12 {
   font-size: 12px;
}

.f-bold {
   font-weight: 700;
}

.panel-inverse {
   border-color: #383838;
}

   .panel-inverse > .panel-heading {
      color: #fff;
      background-color: #383838;
      border-color: #383838;
   }

      .panel-inverse > .panel-heading + .panel-collapse > .panel-body {
         border-top-color: #383838;
      }

      .panel-inverse > .panel-heading .badge {
         color: #383838;
         background-color: #fff;
      }

   .panel-inverse > .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #383838;
   }

.emps-label-radio label {
   margin-left: 7px;
}

.emps-p-all-10 {
   padding: 10px;
}

.emps-word-wrap {
   word-wrap: break-word;
}

.radio-list-inline-emps input {
   margin-right: 4px;
   cursor: pointer;
}

.radio-list-inline-emps label {
   font-weight: normal;
   font-size: small;
   cursor: pointer;
}

.p-t-5 {
   padding-top: 5px;
}

.p-t-10 {
   padding-top: 10px;
}

.m-r-5 {
   margin-right: 5px;
}

.m-r-10 {
   margin-right: 10px;
}

.m-r-15 {
   margin-right: 15px;
}

.m-r-20 {
   margin-right: 20px;
}

.m-r-25 {
   margin-right: 25px;
}

.m-r-30 {
   margin-right: 30px;
}

.m-r-35 {
   margin-right: 35px;
}

.m-r-40 {
   margin-right: 40px;
}

.m-r-45 {
   margin-right: 45px;
}

.m-r-50 {
   margin-right: 50px;
}

.m-t-5 {
   margin-top: 5px;
}

.m-t-10 {
   margin-top: 10px;
}

.m-l-5 {
   margin-left: 5px;
}

.m-l-10 {
   margin-left: 10px;
}

.m-b-5 {
   margin-bottom: 5px;
}

.m-b-10 {
   margin-bottom: 10px;
}

.display-none {
   display: none;
}

.jstree-search-emps-form-control {
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border-bottom: 1px solid #929292;
   border-top: none;
   border-left: none;
   border-right: none;
   outline: none;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

   .jstree-search-emps-form-control:focus {
      border-color: #3fa1ff;
   }

.parttime-search-emps-form-control {
   display: inline-block;
   /*width: 100%;*/
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border-bottom: 1px solid #ccc;
   border-top: none;
   border-left: none;
   border-right: none;
   outline: none;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

   .parttime-search-emps-form-control:focus {
      border-color: #3fa1ff;
   }

.btn-emps-search-parttime {
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   outline: none;
   font-weight: normal;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-image: none;
   border: 1px solid transparent;
}

   .btn-emps-search-parttime:focus,
   .btn-emps-search-parttime:active:focus,
   .btn-emps-search-parttime.active:focus,
   .btn-emps-search-parttime.focus,
   .btn-emps-search-parttime:active.focus,
   .btn-emps-search-parttime.active.focus {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
   }

   .btn-emps-search-parttime:hover,
   .btn-emps-search-parttime:focus,
   .btn-emps-search-parttime.focus {
      text-decoration: none;
   }

   .btn-emps-search-parttime:active,
   .btn-emps-search-parttime.active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
   }

.radio-emps,
.checkbox-emps {
   position: relative;
   display: block;
}

   .radio-emps label,
   .checkbox-emps label {
      min-height: 20px;
      padding-left: 20px;
      margin-bottom: 0;
      font-weight: normal;
      cursor: pointer;
   }

   .radio-emps input[type="radio"],
   .radio-inline-emps input[type="radio"],
   .checkbox-emps input[type="checkbox"],
   .checkbox-inline-emps input[type="checkbox"] {
      position: absolute;
      margin-top: 4px \9;
      margin-left: -20px;
   }

   .radio-emps + .radio-emps,
   .checkbox-emps + .checkbox-emps {
      margin-top: -5px;
   }

.radio-inline-emps,
.checkbox-inline-emps {
   position: relative;
   display: inline-block;
   padding-left: 20px;
   margin-bottom: 0;
   font-weight: normal;
   vertical-align: middle;
   cursor: pointer;
}

   .radio-inline-emps + .radio-inline-emps,
   .checkbox-inline-emps + .checkbox-inline-emps {
      margin-top: 0;
      margin-left: 10px;
   }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
   cursor: not-allowed;
}

.radio-inline-emps.disabled,
.checkbox-inline-emps.disabled,
fieldset[disabled] .radio-inline-emps,
fieldset[disabled] .checkbox-inline-emps {
   cursor: not-allowed;
}

.radio-emps.disabled label,
.checkbox-emps.disabled label,
fieldset[disabled] .radio-emps label,
fieldset[disabled] .checkbox-emps label {
   cursor: not-allowed;
}

@media only screen and (max-width: 800px) {
   /* Force table to not be like tables anymore */
   #no-more-tables table,
   #no-more-tables thead,
   #no-more-tables tbody,
   #no-more-tables th,
   #no-more-tables td,
   #no-more-tables tr {
      display: block;
   }
      /* Hide table headers (but not display: none;, for accessibility) */
      #no-more-tables thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
      }

   #no-more-tables tr {
      border: 1px solid #ccc;
   }

   #no-more-tables td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
   }

      #no-more-tables td:before {
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
         text-align: left;
         font-weight: bold;
      }
      /* Label the data */
      #no-more-tables td:before {
         content: attr(data-title);
      }
}

.emps-datatable-parttime-announce {
   min-height: 200px;
   height: 200px;
   max-height: 200px;
   overflow-y: scroll;
}

.emps-jstree-parttime-announce {
   max-height: 500px;
   overflow-y: scroll;
}
