﻿.table-empshift {
   border: 1px solid #ccc;
   width: 100%;
   margin: 0;
   padding: 0;
   border-collapse: collapse;
   border-spacing: 0;
}

.bg-external-event {
   background-color: #d9d9d9;
   margin: 10px 0;
   border-radius: 3px;
}

.img-loading-employee-list {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
}

.employee-search-list {
   min-height: 216px;
   max-height: 216px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.employee-add-list {
   min-height: 250px;
   max-height: 250px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.img-loading-group-diary-list {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
}

.group-diary-search-list {
   min-height: 216px;
   max-height: 216px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.group-diary-add-list {
   min-height: 250px;
   max-height: 250px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.emp-old-announce-diary-list {
   min-height: 216px;
   max-height: 216px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.emp-new-announce-diary-list {
   min-height: 216px;
   max-height: 216px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.external-events-listing, .external-events-listing-group-diary, .external-events-listing-change-diary {
   min-height: 100px;
}

.table-empshift tr {
   border: 1px solid #ddd;
   padding: 5px;
}

.table-empshift th, .table-empshift td {
   padding: 10px;
   text-align: center;
   border-right: 1px solid #ccc;
}

.table-empshift th {
   background-color: #d9edf7;
   font-size: 14px;
   color: #31708f;
}

.external-events .fc-event {
   cursor: move;
   padding: 3px;
   position: relative;
}

   .external-events .fc-event:hover {
      -moz-box-shadow: 1px 1px 4px 0 #aaaaaa;
      -webkit-box-shadow: 1px 1px 4px 0 #aaaaaa;
      box-shadow: 1px 1px 4px 0 #aaaaaa;
   }

.external-events-change .fc-event {
   margin: 10px 0;
   cursor: move;
   padding: 3px;
   position: relative;
}

   .external-events-change .fc-event:hover {
      -moz-box-shadow: 1px 1px 4px 0 #aaaaaa;
      -webkit-box-shadow: 1px 1px 4px 0 #aaaaaa;
      box-shadow: 1px 1px 4px 0 #aaaaaa;
   }

.external-events-diary .fc-event {
   margin: 10px 0;
   cursor: move;
   padding: 3px;
   position: relative;
}

   .external-events-diary .fc-event:hover {
      -moz-box-shadow: 1px 1px 4px 0 #aaaaaa;
      -webkit-box-shadow: 1px 1px 4px 0 #aaaaaa;
      box-shadow: 1px 1px 4px 0 #aaaaaa;
   }

.external-events-change-diary .fc-event {
   margin: 10px 0;
   cursor: move;
   padding: 3px;
   position: relative;
}

   .external-events-change-diary .fc-event:hover {
      -moz-box-shadow: 1px 1px 4px 0 #aaaaaa;
      -webkit-box-shadow: 1px 1px 4px 0 #aaaaaa;
      box-shadow: 1px 1px 4px 0 #aaaaaa;
   }

.fc-content {
   float: left;
   padding: 3px;
}


.remove-event {
   padding-right: 3px;
   float: right;
   font-size: 15px;
   cursor: pointer;
}

   .remove-event:hover {
      opacity: 0.7;
   }

.txtSearchEmployee::-webkit-input-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchEmployee::-moz-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchGroupDiary::-webkit-input-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchGroupDiary::-moz-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchParttimeGroupDiary::-webkit-input-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchParttimeGroupDiary::-moz-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchParttime::-webkit-input-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchParttime::-moz-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchParttimeChange::-webkit-input-placeholder {
   font-family: 'FontAwesome';
}

.txtSearchParttimeChange::-moz-placeholder {
   font-family: 'FontAwesome';
}

.emp-list-change-diary-pending {
   max-height: 200px;
   min-height: 200px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.emp-list-diary-pending {
   max-height: 517px;
   min-height: 200px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.emp-list-diary-change-old {
   max-height: 370px;
   min-height: 100px;
   overflow-y: scroll;
   overflow-x: hidden;
}

@media screen and (max-width: 769px) {
   .table-empshift {
      border: 0;
   }

      .table-empshift thead {
         display: none;
      }

      .table-empshift tr {
         margin-bottom: 10px;
         display: block;
         border-bottom: 2px solid #ddd;
      }

      .table-empshift td {
         display: block;
         text-align: right;
         font-size: 1em;
         border-bottom: 1px dotted #ccc;
         border-right: none;
      }

         .table-empshift td:last-child {
            border-bottom: 0;
         }

         .table-empshift td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
         }
}

.emps-jstree-parttime-announce {
   padding-bottom: 25px;
   padding-left: 5px;
}

.cs-pointer label, .cs-pointer input {
   cursor: pointer;
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

   /* Force table to not be like tables anymore */
   .table-empshift-responsive, .table-empshift-responsive tbody, .table-empshift-responsive th, .table-empshift-responsive td, .table-empshift-responsive tr {
      display: block;
      font-size: 12px;
   }

   .table-empshift-responsive th {
      display: none;
   }

      .table-empshift-responsive thead tr {
         position: relative;
         top: -9999px;
         left: -9999px;
      }

   .table-empshift-responsive tr {
      border-bottom: 1px solid #ccc;
   }

      .table-empshift-responsive td:before {
         width: 40%;
         display: inline-block;
         content: attr(data-th);
         font-weight: bold;
      }
}
