﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test_qa.aspx.cs" Inherits="websystem_qa_test_qa" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:TextBox ID="txtBarcode" runat="server"></asp:TextBox>
        <asp:Button ID="btnGenerate" runat="server" Text="Generate" OnClick="btnBarcode_Click" />
        <hr />
        <%--<asp:PlaceHolder ID="plBarCode" runat="server" />--%>
    </form>
</body>
</html>
